<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>
<header class="main-header">

<div class="main-header-top">
<img src="/images\logo-mercado-liebre.svg" class="logo">   
 <div class="barrabusqueda">
        <form class="formulariodebarra" action="#" method="POST">
            <div class="inputdebarra">
                <input class="contenedor-busqueda" type="search" placeholder="Buscar productos, marcas">
            </div>
        </form>
    </div>
<h2 class="copy-header">
    <span class="fa-solid fa-hand-holding-dollar"></span>
Comprá en cuotas y sin tarjeta de crédito</h2>   
</div> 
          <div class="burger-menu" id="menu">
            <span class="fa-solid fa-bars"></span>
            </div>
 <nav class="main-navbar">
         <ul class="bar-izq">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
         </ul>
         <ul class="bar-derecha">
          <li><a href="/register">Creá tu cuenta<span class="fa-solid fa-address-card"></span></a></li>
          <li><a href="/login">Ingresá<span class="fa-solid fa-arrow-right-to-bracket"></span></a></li>        
          <li><a href="">Mis compras<span class="fa-solid fa-basket-shopping"></span></a></li>
        </ul>

    </nav>
</header> 
     <img src="/images/img-home-banner.jpg" width="100%">
<main> 
     <h2>Basado en tus ultimas visitas</h2>    
    <section class="division">
        <article class="producto-muestra">
            <div class="info-box">
            <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="">
            <span class="fa-solid fa-truck" id="camion"></span>  
            <div class="contenedor">
            <p class="precio">$6.770</p>
            <p id="descuento">40% Off</p>
        </div>
            <h5 class="desc">Cafetera Moulinex</h5>
            </div>
        </article>
        <article class="producto-muestra">
            <div class="info-box">
            <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="">  
            <span class="fa-solid fa-truck" id="camion"></span>
            <div class="contenedor">
            <p class="precio">$230.000</p>
            <p id="descuento">20% Off</p>  
        </div>
            <h5 class="desc">MacBook Pro 2019</h5>
          
        </div>
        </article>
            <article class="producto-muestra">
                <div class="info-box">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="">
                <span class="fa-solid fa-truck" id="camion"></span>
                <div class="contenedor">  
                <p class="precio">$70.000</p>
                <p id="descuento">10% Off</p>
                </div>
                <h5 class="desc">Samsung Galaxy S10</h5>
            </div>
           </article>
           <article class="producto-muestra">
            <div class="info-box">
               <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="">
               <span class="fa-solid fa-truck" id="camion"></span>  
               <div class="contenedor">
               <p class="precio">$23.000</p>
               <p id="descuento">5% Off</p>
            </div>
               <h5 class="desc">SmarTV Samsung 43"</h5> 
            </div>
           </article>
    </section>   
     <h2>Sección de Ofertas</h2>    
    <section class="division">
       <article class="producto-muestra">
            <div class="info-box">
            <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="">
            <span class="fa-solid fa-truck" id="camion"></span>  
            <div class="contenedor">
            <p class="precio">$6.770</p>
            <p id="descuento">40% Off</p>
        </div>
            <h5 class="desc">Cafetera Moulinex</h5>
            </div>
        </article>
        <article class="producto-muestra">
            <div class="info-box">
            <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="">
            <span class="fa-solid fa-truck" id="camion"></span>  
            <div class="contenedor">
            <p class="precio">$230.000</p>
            <p id="descuento">20% Off</p>
        </div>
            <h5 class="desc">MacBook Pro 2019</h5>
        </div>
        </article>
            <article class="producto-muestra">
                <div class="info-box">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="">
                <span class="fa-solid fa-truck" id="camion"></span>  
                <div class="contenedor">
                <p class="precio">$70.000</p>
                <p id="descuento">10% Off</p>
            </div>
                <h5 class="desc">Samsung Galaxy S10</h5>
            </div>
           </article>
           <article class="producto-muestra">
            <div class="info-box">
               <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="">
               <span class="fa-solid fa-truck" id="camion"></span>  
               <div class="contenedor">
               <p class="precio">$23.000</p>
               <p id="descuento">5% Off</p>
            </div>
               <h5 class="desc">SmarTV Samsung 43"</h5>
            </div>
           </article>
    </section>
 </main>
    <footer>
        <section>
            <article class="pie-de-pagina">
            <div>
                <span class="fa-solid fa-credit-card" id="icon"></span>
                <h6>Pagá con tarjeta o en efectivo</h6>
                <p class="cuerpo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <span class="fa-solid fa-gift" id="icon"></span>
                <h6>Envío gratis desde $ 2.500</h6>
                <p class="cuerpo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <span class="fa-solid fa-user-shield" id="icon"></span>
                <h6>Seguridad de principio a fin</h6>
                <p class="cuerpo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            <br>
               
            
        </article> 
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h7>
        </section>
    </footer>

</body>
</html>